<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Users</h1>
  </div>

  <div class="min-w-full my-8">
    <div class="table font-bold min-w-full">
      <div>Name</div>
      <div>Email</div>
      <div>Age</div>
      <div>Phone</div>
      <div></div>
    </div>
    <%= render "form", user: User.new %>
    <div id="users">
      <%= render @users %>
    </div>
  </div>
</div>
